* {margin: 0; padding: 0}
html {height: 100%; font-family: Tahoma;}
body {background-color: #cccccc; height: 100%; text-align: center;}

div#x {
	background-color: white;
	width:  100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: url(../img/warrior.jpg);
}

.o {
	width: 150px;
	height: 150px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
}

.o h2 {
	font-size: 15px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 40px;
	margin: -20px -45%;
}
.o p {
	display: none;
	font-size: 14px;
}
.o.growed-2.2 h2 {
	top: 32%;
	font-size: 25px;
}
.o.growed-2.2 p {
	display: block;
	position: absolute;
	text-align: center;
	top: 52%;
	left:  15%;
	width: 70%;
}